<nav class="topbar-container">
  <div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center row">
      <!-- Left side -->
      <div class="d-flex align-items-center col-8 col-lg-9 col-sm-8 left-side">
        <app-breadcrumb></app-breadcrumb>
        <!-- Search bar -->
        <div class="search-container position-relative">
          <span class="search-icon">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="text"
            class="form-control search-input"
            placeholder="{{ 'common.search_placeholder' | translate }}"
          >
        </div>
      </div>

      <!-- Right side -->
      <div class="d-flex align-items-center justify-content-end col-4 col-lg-3 col-sm-4">
        <button class="btn notification-btn ">
          <i class="bi bi-bell"></i>
        </button>
        <div class="user-avatar">
          <img src="../../../assets/images/Avatar.png" alt="User avatar" class="rounded-circle">
        </div>
      </div>
    </div>
  </div>
</nav>
